table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width:100%;
}

.filters {
    margin-bottom: 10px;
} 

#search {
    padding: 5px;
}

.message {
    padding: 10px;
    text-align: center;
}